/* Navigation Bar CSS */
p {
  color:#fff;
}

h2 {
  color:#fff;
}
.navBar{
  position: fixed;
  width:100%;
  z-index: 1;
}

.navUL {
  list-style-type: none;
  margin: 0;
  padding:0;
  overflow: hidden;
  background-color: #333;
}

.navLi {
  float: left;
  /*padding-right:10%;*/
  width:16.6%;
  font-family:arial;
}

.navA {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

a:hover {
  background-color: #111;
}

#active {
  background-color: #04AA6D;
}

/* Image Carosel CSS */
.slideshow-container {
            width: 75%;
            min-height:700px;
            position: relative;
            margin: auto;
        }

        /* Style for the images */
        .mySlides {
            display: none;
        }

        /* Style for navigation buttons */
        .prev, .next {
            cursor: pointer;
            position: absolute;
            top: 50%;
            width: auto;
            padding: 16px;
            margin-top: -22px;
            color: white;
            font-weight: bold;
            font-size: 18px;
            transition: 0.6s ease;
            border-radius: 0 3px 3px 0;
            user-select: none;
        }

        /* Position of the previous button */
        .prev {
            left: 0;
        }

        /* Position of the next button */
        .next {
            right: 0;
            border-radius: 3px 0 0 3px;
        }

.container{
  position:relative;
  text-align: center;
  color: #fff;
}

.textCenter {
  position: absolute;
  top:300px;
  left:42%;
}

.bookButton {
  width:150px;
  text-align: center;
  color:#FFF;
  background-color: #000;
  position:relative;
  height:50px;
  font-family: arial;
  cursor: pointer;
}

.siteMap{
  width: 98%;
  background-color: #000;
  color:#fff;
  text-align: center;
  font-family: arial;
  padding-top:20px;
  padding-left:10%;
  padding-right:10%;
}

.footer {
  height:200px;
  background-color: #000;
}

body { 
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  background-color: #000;
}

.trioContainer {
  width:33%;
  float:left;
  background-color:#fff; 
  text-align: center;
  padding-bottom:20px;
}

p {
  font-family: arial;
  font-size: 20px;
}

a {
  text-decoration: none;
  color:#fff;
}
